.header {
  height: 60px;
  background: linear-gradient(277.8deg, rgba(84, 170, 217, 0.92) 0.25%, rgba(69, 181, 133, 0.88) 111.76%);

  img {
    margin-left: 15%;
  }
}

.title {
  font-weight: 600;
  font-size: 33px;
  line-height: 100%;
  text-align: center;
  color: #3A4151;
  margin-top: 60px;
  margin-bottom: 54px;
}

.progress-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 600px;
  margin: 0 auto;
}

.progress-bar-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  background: -webkit-linear-gradient(327.46deg, #54AAD9 -144.44%, #45B585 158.83%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: red;
  position: relative;

  &.active:before {
    content: url("../../../assets/img/icon/progress-check-marker.svg");
    position: absolute;
    top: 0px;
    left: -15px;
  }
}

.progress-bar-line {
  grid-column: 1/-1;
  background: #F5F6F9;
  border-radius: 10px;
  height: 5px;
  margin-top: 12px;
  position: relative;
}

.progress-bar-line-active {
  background: linear-gradient(327.46deg, #54AAD9 -144.44%, #45B585 158.83%);
  border-radius: 15px;
  height: 100%;
  width: 25%;
}

.progress-bar-item-wrapper {
  width: min-content;
  margin: 0 auto;
}

.repair-item-title {
  font-size: 21px;
  line-height: 100%;
  text-align: center;
  color: #3A4151;
}

.repair-item-subtitle {
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #6B717D;
}

.quiz-title {
  font-size: 21px;
  line-height: 100%;
  text-align: center;
  color: #3A4151;
  margin-top: 66px;
}

.quiz-subtitle {
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #6B717D;
  margin-top: 15px;
}

.width {
  width: 100%;
  max-width: 810px;
  margin: 0 auto;
}

// --------

.appliance-card {
  border: 1.5px solid #EFEFEF;
  border-radius: 15px;
  padding: 22px 15px;
  width: 120px;
  cursor: pointer;
  margin: 0 9px 18px;

  .white {
    display: none;
  }

  &:hover {
    background: linear-gradient(327.46deg, #54AAD9 -144.44%, #45B585 158.83%);

    .white {
      display: block;
    }

    .black {
      display: none;
    }

    .appliance-title {
      color: #fff;
    }
  }


}

.appliance-card-img-wrapper {
  height: 40px;
  margin-bottom: 18px;
}

.appliance-img {
  margin: 0 auto 21px;
  display: block;
}

.appliance-title {
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #3A4151;
}

.appliances-list {
  flex-wrap: wrap;
  margin-top: 54px;
}


// media-items

@media (max-width: 992px) {
  .appliances-list {
    //display: grid;
  }
  .width {
    width: 650px;
  }
  .progress-bar {
    width: 600px;
  }
}

@media (max-width: 650px) {
  .width {
    width: 560px;
  }
  .appliance-card {
    width: 110px;
  }
  .appliances-list {
    //grid-template-columns: repeat(4, 1fr);
  }
  .progress-bar {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 720px) {
  .appliances-list {
    //grid-template-columns: repeat(3, 1fr);
  }
  .width {
    width: 95%;
  }
}

@media (max-width: 576px) {
  .appliances-list {
    //grid-template-columns: repeat(3, 1fr);
  }
  .appliance-card {
    width: 104px;
  }
  .width {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .appliances-list {
    //grid-template-columns: repeat(3, 1fr);
  }
}










