<button class="btn center" (click)="navBarStat = !navBarStat">
  <img src="assets/img/icon/burger-menu.svg" alt="">
</button>

<div class="nav-menu" [ngClass]="{'active': navBarStat}">
  <button class="btn center close-btn" (click)="navBarStat = !navBarStat">
    <img src="assets/img/icon/close.svg" alt="">
  </button>

  <a href="tel:4087083144" class="btn call-us-btn center">
    <div style="margin-bottom: 5px" class="flex align-items-center justify-content-center">
      <img src="assets/img/icon/phone.svg" alt="">
      <p class="call-us">
        CAll us now
      </p>
    </div>
    <p class="mob-number">(408) 708 31 44</p>
  </a>

  <ul class="nav-list">
    <li class="nav-list-item" (click)="scrollNavAction('reasons')">
      <p class="nav-list-item-text">
        Several reasons to trust us
      </p>
    </li>
    <li class="nav-list-item" (click)="scrollNavAction('brand')">
      <p class="nav-list-item-text">
        BRAND WE SERVICE
      </p>
    </li>
    <li class="nav-list-item" (click)="scrollNavAction('results')">
      <p class="nav-list-item-text">
        OUR RESULTS
      </p>
    </li>
    <li class="nav-list-item" (click)="scrollNavAction('contactSection')">
      <p class="nav-list-item-text">
        CONTACTS
      </p>
    </li>
  </ul>

  <button class="book-btn" (click)="scrollTo()">
    BOOK AN APPOINTMENT
  </button>
</div>
