<div class="header-container animate__animated wow animate__fadeIn">
  <button class="btn mobile-other-header flex align-items-center" #otherHeader>
    <img src="assets/img/icon/mob-view-phone-icon.svg" style="width: 14px" alt="">
    <span [translate]="'MAIN.phone_number'">(408) 708 31 44</span>
  </button>
  <header class="header flex align-items-center justify-content-between">

    <div class="flex align-items-center" style="width: 100%">

      <img src="assets/img/icon/full-logo.svg" class="main-logo" alt="">
      <img src="assets/img/icon/mobile-view-logo.svg" class="mobile-view-logo" alt="">

      <div class="flex align-items-center" style="margin-left: auto;">
        <div #callBtn class="mob-header-call-wrapper">
          <a href="tel:4087083144" class="web-none btn mob-header-call flex align-items-center mob-header-items">
            CALL
          </a>
        </div>

        <button (click)="scrollToContact()" class="web-none btn mob-header-book flex align-items-center mob-header-items">
          BOOK
        </button>
      </div>


    </div>

    <div class="flex align-items-center">

      <!--      <button #bookHeader class="btn book-btn-header" [routerLink]="'/product'"-->
      <!--              [translate]="'MAIN.book_an_appointment'">-->
      <!--        BOOK AN APPOINTMENT-->
      <!--      </button>-->

      <a href="tel:4087083144" class="header-call-us-web header-mobile-view-item">
        <div class="flex">
          <img class="phone-icon" src="assets/img/icon/phone.svg" alt="">
          <p class="call-us" [translate]="'MAIN.call_us_now'">
            CAll us now
          </p>
        </div>
        <p class="phone-number" [translate]="'MAIN.phone_number'">
          (408) 708 31 44
        </p>
      </a>

    </div>

    <app-mobile-nav-menu
      (scrollToForm)="scrollToContact()"
      (scrollNav)="scrollTo($event)"
    >
    </app-mobile-nav-menu>

  </header>
</div>

<div (scroll)="scroll($event)" class="page">

  <section (scroll)="scroll($event)" class="main-block flex-column justify-content-around animate__animated wow animate__fadeIn">

    <div>
      <h1 class="main-title" [translate]="'MAIN.title'">
        Are you looking to get some assistance with your appliance repair?
      </h1>
      <p class="main-subtitle" [translate]="'MAIN.subtitle'">
        Our team of qualified Technicians is ready to fix your appliance
      </p>
    </div>


    <div>
      <div class="price-block-wrapper">
        <div class="price-block flex-column justify-content-around">
          <p class="price-block-price" [translate]="'MAIN.price'">
            $59
          </p>
          <p class="price-block-title" [translate]="'MAIN.price_title'">
            SERVICE CALLS
          </p>
          <p class="price-block-subtitle" [translate]="'MAIN.price_subtitle'">
            No service call charge
            with a repair
          </p>
        </div>
      </div>

    </div>

    <div>
      <button (click)="scrollToContact()"
              #bookAppointmentMain
              class="btn book-btn"
              [translate]="'MAIN.book_an_appointment'"
      >
        BOOK AN APPOINTMENT
      </button>

      <p class="work-time" [translate]="'MAIN.work_time'">
        MON - SAT 8:00am - 7:00pm
      </p>

      <a href="tel:4087083144" #callUs class="btn phone-number-mobile-view flex-column align-items-center justify-content-center">
        <div class="flex align-items-center">
          <img src="assets/img/icon/phone-icon-for-link.svg" style="margin-right: 8px" alt="">
          <p class="mobile-view-call-us">
            CAll us now
          </p>
        </div>
        <p class="mobile-view-phone-number" [translate]="'MAIN.phone_number'">(408) 708 31 44</p>
      </a>

    </div>

  </section>

  <section id="howItWorks" class="how-it-works animate__animated wow animate__fadeIn" *ngIf="false">
    <p class="title how-it-works-title" [translate]="'MAIN_HOW_IT_WORK.title'">
      How It Works
    </p>

    <ul class="how-it-works-list flex">

      <li class="card-wrapper">
        <div class="card first-card">
          <div class="card-number center">
            1
          </div>
          <p class="card-title" [translate]="'MAIN_HOW_IT_WORK.item_title_1'">
            Pick a Time
          </p>
          <p class="card-text" [translate]="'MAIN_HOW_IT_WORK.item_text_1'">
            Select the day and time for your service and describe the issue.
          </p>
        </div>
      </li>

      <li class="card-wrapper">
        <div class="card second-card">
          <div class="card-number center">
            2
          </div>
          <p class="card-title" [translate]="'MAIN_HOW_IT_WORK.item_title_2'">
            Pro estimate
          </p>
          <p class="card-text" [translate]="'MAIN_HOW_IT_WORK.item_text_2'">
            Our experienced and fully-equipped Pro will come and estimate the issue.
          </p>
        </div>
      </li>

      <li class="card-wrapper">
        <div class="card third-card">
          <div class="card-number center">
            3
          </div>
          <p class="card-title" [translate]="'MAIN_HOW_IT_WORK.item_title_3'">
            Pay after work
          </p>
          <p class="card-text" [translate]="'MAIN_HOW_IT_WORK.item_text_3'">
            Once the Pro completes the work you pay for service and get our Guarantee.
          </p>
        </div>
      </li>

    </ul>
  </section>

  <section id="reasons" class="reasons animate__animated wow animate__fadeIn">
    <p class="title reasons-title" [translate]="'MAIN_REASONS.title'">
      Several reasons to trust us
    </p>

    <ul class="reasons-list custom-width">

      <li class="reason-item">
        <div class="reason-img-cover flex align-items-center ">
          <img src="assets/img/icon/high.svg" alt="">
        </div>
        <p class="reason-item-title" [translate]="'MAIN_REASONS.item_title_1'">
          High quality
        </p>
        <p class="reason-item-subtitle" [translate]="'MAIN_REASONS.item_subtitle_1'">
          appliance service
        </p>
      </li>

      <li class="reason-item">
        <div class="reason-img-cover flex align-items-center">
          <img src="assets/img/icon/quick.svg" alt="">
        </div>
        <p class="reason-item-title" [translate]="'MAIN_REASONS.item_title_2'">
          QUICK WORK
        </p>
        <p class="reason-item-subtitle" [translate]="'MAIN_REASONS.item_subtitle_2'">
          as possible
        </p>
      </li>

      <li class="reason-item">
        <div class="reason-img-cover flex align-items-center">
          <img src="assets/img/icon/licensed.svg" alt="">
        </div>
        <p class="reason-item-title" [translate]="'MAIN_REASONS.item_title_3'">
          licensed experts
        </p>
        <p class="reason-item-subtitle" [translate]="'MAIN_REASONS.item_subtitle_3'">
          in our team
        </p>
      </li>

      <li class="reason-item">
        <div class="reason-img-cover flex align-items-center">
          <img src="assets/img/icon/lowest.svg" alt="">
        </div>
        <p class="reason-item-title" [translate]="'MAIN_REASONS.item_title_4'">
          lowest prices
        </p>
        <p class="reason-item-subtitle" [translate]="'MAIN_REASONS.item_subtitle_4'">
          $59 service call
        </p>
      </li>

      <li class="reason-item">
        <div class="reason-img-cover flex align-items-center">
          <img src="assets/img/icon/repair.svg" alt="">
        </div>
        <p class="reason-item-title" [translate]="'MAIN_REASONS.item_title_5'">
          repair warranty
        </p>
        <p class="reason-item-subtitle" [translate]="'MAIN_REASONS.item_subtitle_5'">
          3 months
        </p>
      </li>

    </ul>
  </section>

  <section class="appliances animate__animated wow animate__fadeIn">
    <p class="title appliances-title" [translate]="'MAIN_APPLIANCES.title'">
      Appliances we service
    </p>
    <ul class="appliances-list custom-width flex">

      <li class="appliance-card" (click)="goTo('refrigerator')">
        <div class="appliance-card-img-wrapper">
          <img src="assets/img/icon/refrigirator.svg" alt="" class="appliance-img black">
          <img src="assets/img/icon/refrigirator-white.svg" alt="" class="appliance-img white">
        </div>
        <p class="appliance-title" [translate]="'MAIN_APPLIANCES.refrigirator'">Refrigirator Repair</p>
      </li>

      <li class="appliance-card" (click)="goTo('washer')">
        <div class="appliance-card-img-wrapper">
          <img src="assets/img/icon/washer.svg" alt="" class="appliance-img black">
          <img src="assets/img/icon/washer-white.svg" alt="" class="appliance-img white">
        </div>
        <p class="appliance-title" [translate]="'MAIN_APPLIANCES.washer'">Washer Repair</p>
      </li>

      <li class="appliance-card" (click)="goTo('dishwasher')">
        <!--        <div class="appliance-card-inner"></div>-->
        <div class="appliance-card-img-wrapper">
          <img src="assets/img/icon/dishwasher.svg" alt="" class="appliance-img black">
          <img src="assets/img/icon/dishwasher-white.svg" alt="" class="appliance-img white">
        </div>
        <p class="appliance-title" [translate]="'MAIN_APPLIANCES.dishwasher'">Dishwasher Repair</p>
      </li>


      <li class="appliance-card" (click)="goTo('drier')">
        <div class="appliance-card-img-wrapper">
          <img src="assets/img/icon/drier.svg" alt="" class="appliance-img black">
          <img src="assets/img/icon/drier-white.svg" alt="" class="appliance-img white">
        </div>
        <p class="appliance-title" [translate]="'MAIN_APPLIANCES.drier'">Drier Repair</p>
      </li>

      <li class="appliance-card" (click)="goTo('oven')">
        <div class="appliance-card-img-wrapper">
          <img src="assets/img/icon/oven.svg" alt="" class="appliance-img black">
          <img src="assets/img/icon/oven-white.svg" alt="" class="appliance-img white">
        </div>
        <p class="appliance-title" [translate]="'MAIN_APPLIANCES.oven'">Oven Repair</p>
      </li>

      <li class="appliance-card" (click)="goTo('appliance')">
        <div class="appliance-card-img-wrapper">
          <img src="assets/img/icon/appliance.svg" alt="" class="appliance-img black">
          <img src="assets/img/icon/appliance-white.svg" alt="" class="appliance-img white">
        </div>
        <p class="appliance-title" [translate]="'MAIN_APPLIANCES.appliance_instalation'">Appliance Instalation</p>
      </li>

      <li class="appliance-card" (click)="goTo('range')">
        <div class="appliance-card-img-wrapper">
          <img src="assets/img/icon/range.svg" alt="" class="appliance-img black">
          <img src="assets/img/icon/range-white.svg" alt="" class="appliance-img white">
        </div>
        <p class="appliance-title" [translate]="'MAIN_APPLIANCES.range'">Range & Stove</p>
      </li>

      <li class="appliance-card" (click)="goTo('trash')">
        <div class="appliance-card-img-wrapper">
          <img src="assets/img/icon/trash.svg" alt="" class="appliance-img black">
          <img src="assets/img/icon/trash-white.svg" alt="" class="appliance-img white">
        </div>
        <p class="appliance-title" [translate]="'MAIN_APPLIANCES.trash_compactor'">Trash Compactor</p>
      </li>

      <li class="appliance-card" (click)="goTo('microwave')">
        <div class="appliance-card-img-wrapper">
          <img src="assets/img/icon/microwave.svg" alt="" class="appliance-img black">
          <img src="assets/img/icon/microwave-white.svg" alt="" class="appliance-img white">
        </div>
        <p class="appliance-title" [translate]="'MAIN_APPLIANCES.microwave_repair'">Microwave Repair</p>
      </li>

      <li class="appliance-card" (click)="goTo('electric-appliance')">
        <div class="appliance-card-img-wrapper">
          <img src="assets/img/icon/electric.svg" alt="" class="appliance-img black">
          <img src="assets/img/icon/electric-white.svg" alt="" class="appliance-img white">
        </div>
        <p class="appliance-title" [translate]="'MAIN_APPLIANCES.electric'">Electric Appliance Instalation</p>
      </li>

      <li class="appliance-card" (click)="goTo('kitchen-hood')">
        <div class="appliance-card-img-wrapper">
          <img src="assets/img/icon/kitchen.svg" alt="" class="appliance-img black">
          <img src="assets/img/icon/kitchen-white.svg" alt="" class="appliance-img white">
        </div>
        <p class="appliance-title" [translate]="'MAIN_APPLIANCES.kitchen'">Kitchen Hood Repair</p>
      </li>

      <li class="appliance-card" (click)="goTo('cooktop')">
        <div class="appliance-card-img-wrapper">
          <img src="assets/img/icon/cooktop.svg" alt="" class="appliance-img black">
          <img src="assets/img/icon/cooktop-white.svg" alt="" class="appliance-img white">
        </div>
        <p class="appliance-title" [translate]="'MAIN_APPLIANCES.cooktop '">Cooktop Repair</p>
      </li>

    </ul>

  </section>

  <section id="brand" class="brand animate__animated wow animate__fadeIn">

    <p class="title brand-title" [translate]="'MAIN_BRAND.title'">
      Brand we service
    </p>

    <ul class="brand-list custom-width">

      <ng-container *ngFor="let brand of brandList">
        <li class="brand-logo center">
          <img [src]="'assets/img/icon/' + brand.path" alt="">
        </li>
      </ng-container>

    </ul>
  </section>

  <section id="results" class="result animate__animated wow animate__fadeIn">
    <p class="title result-title" [translate]="'MAIN_RESULTS.title'">
      Our Results
    </p>

    <ul class="result-list flex justify-content-center">
      <li class="result-item">
        <p class="result-number" [translate]="'MAIN_RESULTS.item_happy_value'">1500+</p>
        <p class="result-item-text" [translate]="'MAIN_RESULTS.item_happy'">HAPPY CUSTOMERS</p>
      </li>

      <li class="result-item">
        <p class="result-number" [translate]="'MAIN_RESULTS.item_replaced_value'">1250+</p>
        <p class="result-item-text" [translate]="'MAIN_RESULTS.item_replaced'">PARTS REPLACED</p>
      </li>

      <li class="result-item">
        <p class="result-number" [translate]="'MAIN_RESULTS.item_feedback_value'">99%</p>
        <p class="result-item-text" [translate]="'MAIN_RESULTS.item_feedback'">POSITIVE FEEDBACK</p>
      </li>
    </ul>

  </section>

  <section id="contactSection" class="contact animate__animated wow animate__fadeIn">

    <div class="contact-wrapper custom-width">

      <p class="title contact-title">Contacts</p>
      <p class="contact-subtitle">We provide services THROUGHOUT los angeles country</p>

      <div class="contact-content">

        <div>
          <form action="">
            <input placeholder="Please Enter Your Name" type="text" class="input">
            <input prefix="+1" mask="(000) 000 0000" placeholder="Please Enter Your Phone Number" type="text"
                   class="input number-input">
            <div class="input-group">
              <input type="time" class="input">
              <input type="date" class="input">
            </div>
            <p class="time-select-note">
              Please select Date and time in any format
            </p>
          </form>
          <button class="btn submit-btn">
            SEND
          </button>
        </div>

        <ul class="contact-list-web">
          <li class="contact-item contact-item-web flex align-items-center">
            <img class="contact-item-img" src="assets/img/icon/web-location.svg" alt="">
            <p class="contact-item-text">101 Independence Avenue, S.E. Washington, D.C.
              20559-6000</p>
          </li>

          <li class="contact-item contact-item-web flex align-items-center">
            <img class="contact-item-img" src="assets/img/icon/web-phone.svg" alt="">
            <p class="contact-item-text" [translate]="'MAIN.phone_number'">(408) 708 31 44</p>
          </li>

          <li class="contact-item contact-item-web flex align-items-center">
            <img class="contact-item-img" src="assets/img/icon/web-mail.svg" alt="">
            <p class="contact-item-text" [translate]="'MAIN_FOOTER.email'">info@fundamental.com</p>
          </li>

          <li class="contact-item contact-item-web flex align-items-center">
            <img class="contact-item-img" src="assets/img/icon/web-clock.svg" alt="">
            <p class="contact-item-text" [translate]="'MAIN.work_time'">MON - FRI 8:00am - 7 00pm</p>
          </li>
        </ul>

      </div>

    </div>

  </section>

  <footer class="main-footer animate__animated wow animate__fadeIn">

    <div class="flex footer-top align-items-center justify-content-between custom-width">

      <img class="footer-logo" src="assets/img/icon/footer-logo.svg" alt="">

      <div class="flex align-items-center love-us-container">
        <p class="love-us" [translate]="'MAIN_FOOTER.love_us'">People love us on:</p>
        <div class="sm-links flex">
          <a class="yelp-link" href="#">
            <img class="yelp-img" src="assets/img/icon/yelp.svg" alt="">
          </a>
          <a href="#">
            <img class="" src="assets/img/icon/google.svg" alt="">
          </a>
        </div>
      </div>
    </div>

    <div class="custom-width">
      <ul class="mobile-view-contacts">

        <li class="contact-item contact-item-web flex align-items-center">
          <img class="contact-item-img" src="assets/img/icon/mob-view-location.svg" alt="">
          <p class="contact-item-text" [translate]="'MAIN.address'">101 Independence Avenue, S.E. Washington, D.C.
            20559-6000</p>
        </li>

        <li class="contact-item contact-item-web flex align-items-center">
          <img class="contact-item-img" src="assets/img/icon/mob-view-phone.svg" alt="">
          <p class="contact-item-text" [translate]="'MAIN.phone_number'">(408) 708 31 44</p>
        </li>

        <li class="contact-item contact-item-web flex align-items-center">
          <img class="contact-item-img" src="assets/img/icon/mob-view-email.svg" alt="">
          <p class="contact-item-text" [translate]="'MAIN_FOOTER.email'">info@fundamental.com</p>
        </li>

        <li class="contact-item contact-item-web flex align-items-center">
          <img class="contact-item-img" src="assets/img/icon/mob-view-clock.svg" alt="">
          <p class="contact-item-text" [translate]="'MAIN.work_time'">MON - FRI 8:00am - 7 00pm</p>
        </li>
      </ul>
    </div>

    <div class="custom-width">

      <ul class="our-services-list" [ngClass]="{'active' : seeMore}">
        <li class="our-services-title" [translate]="'MAIN_FOOTER.our_services'">Our Services</li>

        <li class="our-services-item" [translate]="'MAIN_APPLIANCES.refrigirator'">Refrigirator repair</li>
        <li class="our-services-item" [translate]="'MAIN_APPLIANCES.washer'">Washer repair</li>
        <li class="our-services-item" [translate]="'MAIN_APPLIANCES.dishwasher'">Dishwasher repair</li>
        <li class="see-more" *ngIf="!seeMore" (click)="seeMore = true">see more</li>
        <li class="our-services-item" [translate]="'MAIN_APPLIANCES.drier'">Drier repair</li>
        <li class="our-services-item" [translate]="'MAIN_APPLIANCES.oven'">Oven repair</li>
        <li class="our-services-item" [translate]="'MAIN_APPLIANCES.range'">Range & Stove</li>
        <li class="our-services-item" [translate]="'MAIN_APPLIANCES.trash_compactor'">Trash compactor</li>
        <li class="our-services-item" [translate]="'MAIN_APPLIANCES.appliance_instalation'">Appliance instalation</li>
        <li class="our-services-item" [translate]="'MAIN_APPLIANCES.microwave_repair'">Microwave repair</li>
        <li class="our-services-item" [translate]="'MAIN_APPLIANCES.kitchen'">Kitchen hood repair</li>
        <li class="our-services-item" [translate]="'MAIN_APPLIANCES.cooktop '">Cooktop repair</li>
        <li class="our-services-item" [translate]="'MAIN_APPLIANCES.electric'">Electric appliance Instalation</li>
      </ul>

    </div>


    <div class="firma">
      <button class="top-arrow" (click)="goTop()">
        <img class="top-arrow-img" src="assets/img/icon/to-top-arrow.svg" alt="">
      </button>
      <p class="firma-text">
        © Copyright - Fundamental Appliance Repair. 2020
      </p>
    </div>

  </footer>

</div>
